@model AdventureWorks.Presentation.ViewModels.RaceHistoryViewModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RaceHistoryViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetitorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceTrackId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceTrackId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTrack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTrack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSpent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>
